@page "/explorer"
@inject IDialogService DialogService 


<h3>Explorer</h3>

<p>Files:</p>
<ul>
    @foreach (var file in Files)
    {
        <li @onclick="()=>OpenFileModal(file)"><a>@file.FileName</a></li>
    }
</ul>
<br />
<p>Directories:</p>
<ul>
    @foreach (var directorie in Directories)
    {
        <li>@directorie.DirectoryName</li>
    }
</ul>
