page "/explorer"
@using BlazorCloud.Shared 
@inject IDialogService DialogService


<h3>Explorer</h3>
<InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Files
</MudButton>
<br />
<br />
<br />
<MudGrid>
    <MudItem xs="12">
        <MudGrid>
            <MudItem>
                <DirectoryDisplay FullBaseDirectoryPath="@BlazorCloud.Data.PathManager.Instance.GetFullFilePath()"></DirectoryDisplay>
            </MudItem>
            <MudItem>
                <FileDisplay></FileDisplay>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
